[data-view="categories/show"] {

  // IMPLEMENT ME


  // -- World --

  @include media(mobile) {
    .world {
      margin-top: 25px;
    }

    .world-headline {
      width: 84%;
      margin: 0 auto;
      font-size: 26px;
    }

    .world-description {
      display: none;
    }
  }

  @include media(desktop) {
    .world {
      margin-top: 60px;
    }

    .world-description {
      font-size: 20px;
      text-align: center;
      width: 57%;
      margin: 0 auto;
      line-height: 1.5
    }
  }

  // -- Filter --

  .filter {
    background: rgb(224, 224, 224);
  }

  .world-headline{
    font-family: $mc-nexa-slab;
    text-transform: uppercase;
    text-align: center;
  }

  @include media(mobile) {
    .filter-by,
    .filter-price,
    .btn-filter,
    .filter-add-container,
    .filter-showing-container {
      display:none
    }

    .filter {
      padding: 8px;
    }

    .filter-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    .filter-link-container {
      margin-left: auto;
      position: relative;
      top: 2px;
    }

    .filter-link {
      font-size: 13px;
    }

    .filter-price-container {
      margin: 3px 0px 0px -10px;
    }

    .filter-products {
      font-size: 13px;
      color: $mc-grey-a;
    }

    .filter-link-icon {
      color: $mc-grey-a;
    }
  }

  @include media(desktop) {

    .filter {
      padding: 15px;
    }

    .filter-by {
      color: $mc-grey-6;
      font-weight: bold;
    }

    .filter-price {
      font-size: 16px;
    }

    .filter-products,
    .filter-link-container {
      display: none;
    }

    .filter-by,
    .filter-price, {
      margin-right: 10px;
    }

    .filter-add-container {
      margin-left: 10px;
    }

    .filter-price-container {
      border-right: 1px solid $mc-grey-c;
    }

    .filter-add-title {
      text-align: left;
      width: 152px;
    }

    .filter-add-prompt {
      margin-right: 10px;
    }

    .btn-filter .glyphicon-plus {
      font-size: 20px;
      font-weight: bolder;
    }

    .filter-clear {
      float: left;
      margin-top: 10px;
    }

    .filter-showing-container {
      float: right;
      color: $mc-grey-6;
      font-weight: bold;
      margin-top: 10px;
    }
  }

  // -- Item --

  .item-format img {
    width: 430px;
  }

  .item-format-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item-format {
    margin: 7px;
  }

  .item-price {
    color: $mc-price-color;
  }

  .item-title {
    font-weight: bolder;
  }

}
