[data-view="categories/show"] {

  // -- World --

  .world-headline{
    font-family: $mc-nexa-slab;
    text-transform: uppercase;
    text-align: center;
  }

  @include media(mobile) {

    .world-headline {
      width: 84%;
      margin: 0 auto;
      font-size: 26px;
    }

  }

  @include media(mobile) {

    .world {
      margin-top: 25px;
    }

    .world-description {
      display: none;
    }

  }

  @include media(desktop) {

    .world {
      margin-top: 60px;
    }

    .world-description {
      font-size: 20px;
      text-align: center;
      width: 57%;
      margin: 0 auto;
      line-height: 1.5
    }

  }

  // -- Filter --

  .filter-add-title {
    text-align: left;
    width: 152px;
  }

  .filter-link-icon {
    color: $mc-grey-a;
  }

  .filter-price-container {
    margin: 3px 0px 0px -10px;
  }

  .filter-price {
    font-size: 16px;
  }

  .filter-link {
    font-size: 13px;
  }

  .filter-clear {
    float: left;
    margin-top: 10px;
  }

  .filter-add-container {
    margin-left: 10px;
    margin-top: 4px;
  }

  .filter-add-prompt {
    margin-right: 10px;
  }

  .btn-filter .glyphicon-plus {
    font-size: 20px;
    font-weight: bolder;
  }

  .filter {
    background: rgb(224, 224, 224);
  }

  .filter-products-count {
    color: $mc-grey-a;
  }

  .filter-by {
    color: $mc-grey-6;
    font-weight: bold;
  }

  .filter-link-container {
    position: relative;
  }

  @include media(mobile){

    .filter {
      padding: 8px;
    }

    .filter-products-count {
      font-size: 13px;
    }

    .filter-by {
      display: none;
    }

    .filter-link-container {
      margin-left: auto;
      top: 2px;
    }

  }


  @include media(desktop) {

    .filter {
      padding: 15px;
    }

    .filter-products-count,
    .filter-link-container {
      display: none;
    }

    .filter-by {
      margin-right: 10px;
    }

  }


  .filter-price-container {
    border-right: 1px solid $mc-grey-c;
  }

  @include media(mobile) {

    .filter-price-container {
      border-right-style: none;
    }

  }

  .filter-showing-container {
    float: right;
    color: $mc-grey-6;
    font-weight: bold;
    margin-top: 15px;
  }

  @include media(mobile) {

    .filter-showing-container {
      display: none;
    }

  }

  @include media(mobile) {

    .filter-by,
    .filter-price {
      display: none;
    }

  }

  @include media(desktop) {

    .filter-by,
    .filter-price {
      margin-right: 10px;
    }

  }


  @include media(mobile) {

    .btn-filter,
    .filter-add-container {
      display:none
    }

    .filter-container {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

  }

  // -- Item --

  .item-format-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .item-format img {
    width: 100%;
  }

  .item-price {
    color: $mc-price-color;
  }

  @include media(mobile) {

    .item-price {
      font-size: 17px;
    }

  }

  .item-title,
  .item-description-headline {
    font-weight: bolder;
    text-transform: capitalize;
  }

  @include media(mobile) {

    .item-title {
      font-size: 20px;
      margin-top: 10px;
    }

    .item-description-headline {
      font-size: 16px;
    }
  }

  @include media(desktop) {

    .item-title {
      font-size: 1.5em;
    }

    .item-description-headline {
      font-size: 17px;
    }

  }

  .item-new {
    color: $mc-orange;
    font-weight: bolder;
  }

  @include media(desktop) {

    .item-new {
      font-size: 18px;
    }

  }

  .item-information {
    display: inline-flex;
    align-items: center;
    width: 195px;
    justify-content: space-between;
  }

  @include media(mobile) {

    .item-information {
      margin-top: -8px;
      margin-bottom: 8px;
    }

  }

  .item-format {
    margin: 8px;
    width: 31%;
  }

  @include media(mobile) {

    .item-format {
      width: 100%;
      border-bottom: 1px solid $mc-grey-d;
    }

  }

  @include media(mobile) {

    .item-description {
      font-size: 15px;
    }

  }

  .item-view-btn {
    width: 100%;
  }

  @include media(mobile) {

    .item-view-btn {
      height: 45px;
      margin-bottom: 13px;
    }

  }

  @include media(desktop) {

    .item-view-btn {
      height: 55px;
    }

  }

}
